<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=${charset}" />
<title>Messages Definition</title>
<style type="text/css">
<!--
body {
	font-family: Consolas, monospace;
	font-size: 14px;
}
-->
</style>
</head>

<body>
#foreach ($messageBean in $allMessageBeans)
<hr />
<A name="${messageBean.clazzName}"><!-- --></A>
<h1>
	${messageBean.clazzName}
#if ($messageBean.hasParent())
#set ($parent = $messageBean.parentMessageBean)
	extends <a href="Message.html#${parent.clazzName}">${parent.clazzName}</a>
#end
</h1>
<p>(${messageBean.definedLocation})</p>
	#if ($messageBean.hasDoc())
<p>
		#foreach ($line in $messageBean.doc)
${line}<br/>
		#end
</p>
	#end

#macro (typeHref $type)
#if ($type.bean)
<a href="Message.html#${type.clazzName}">${type.clazzName}</a>##
#else
${type.prototype}##
#end
#end

<TABLE BORDER="1" WIDTH="90%" CELLPADDING="3" CELLSPACING="0" SUMMARY="">
  <tr BGCOLOR="#CCCCFF">
    <th scope="col">Data Type</th>
    <th scope="col">Field Name</th>
    <th scope="col">Description</th>
  </tr>
  #foreach ($fieldName in $messageBean.fieldsName)
  #set ($field = $messageBean.getField($fieldName))
  <tr valign="top">
	<td>
#if ($field.type.array)
#typeHref($field.type.elementType)[]
#elseif ($field.type.vector)
vector&lt;#typeHref($field.type.elementType)&gt;
#elseif ($field.type.map)
map&lt;#typeHref($field.type.keyType), #typeHref($field.type.valueType)&gt;
#elseif ($field.type.bean)
		#typeHref($field.type)
#else
		${field.type.prototype}
#end
	</td>
	<td>${fieldName}</td>
	<td>
#if ($field.hasDoc())
		#foreach ($line in $field.doc)
		${line}<br />
		#end
#else
	&nbsp;
#end
	</td>
  </tr>
#end
</table>
<p>&nbsp;</p>
#end
</body>
</html>
